@use 'variables' as *;

.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: $tablet-breakpoint) {
        max-width: $container-mobile-width;
    }
}

section {
    padding: $section-padding;
}