$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-hover: #4cd137;
$background-color: #f5f6fa;
$text-color-light: #fff;


$main-font: Roboto, sans-serif;


$base-padding: 16px;
$section-padding: 56px 0;
$product-gutter: 8px;


$tablet-breakpoint: 1023px;
$mobile-breakpoint: 767px;


$container-width: 1024px;
$container-mobile-width: 80%;

