* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #777777;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #414141;
    justify-content: center;
    text-transform: uppercase;
    font-style: bold;
}

form {
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.container {
    text-align: center;
}
